body {
    margin: 0px;
    overflow-x: hidden;
}

.slider-size {
    height: 600px;
}

.slider-size-2 {
    width: 100vw;
    height: 150px;
}

.bg-image-1 {
    background: url(assets/pictures/slider_1/lights.svg) center, url(assets/pictures/slider_1/winter.jpg) center;
}

.bg-image-2 {
    background: url(assets/pictures/slider_2/main_wave_02.svg) bottom repeat-x, url(assets/pictures/slider_2/main_korablik.png) no-repeat 90% bottom, url(assets/pictures/slider_2/main_wave_01.svg) bottom repeat-x, url(assets/pictures/slider_2/main_mayak.png) no-repeat bottom center, url(assets/pictures/slider_2/main_cloud_1.png) no-repeat 30% 25%, url(assets/pictures/slider_2/main_cloud_1.png) no-repeat 90% 70%, url(assets/pictures/slider_2/main_cloud_2.png) no-repeat 20% 70%, url(assets/pictures/slider_2/main_cloud_3.png) no-repeat 45% 30%, url(assets/pictures/slider_2/main_cloud_4.png) no-repeat 60% 50%, url(assets/pictures/slider_2/main_cloud_5.png) no-repeat 80% 40%, #c8f2ee;
}

.bg-image-3 {
    background: url(assets/pictures/slider_3/devochki.png) no-repeat calc(50% + 250px)230px, url(assets/pictures/slider_3/malchik_korablik.png) no-repeat calc(50% + -100px) 120px, url(assets/pictures/slider_3/gorshok.png) no-repeat calc(50% + 500px) 60px, url(assets/pictures/slider_3/gora_volna.png) no-repeat calc(50% + 200px) 110px, url(assets/pictures/slider_3/solnce.png) no-repeat calc(50% + 50px) -20px, url(assets/pictures/slider_3/girlyanda.png) no-repeat calc(50% + 100px) 0px, url(assets/pictures/slider_3/bg_3.jpg) center;
}

.bg-image-4 {
    background: url(assets/pictures/mobile_header.jpg) no-repeat center;
}

table a:link, table a:active, table a:visited{
    color: #00a8a0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

td{
    width: 117px;
    text-align: center;
    padding: 0.7rem calc(4vw - 58px);
    white-space: nowrap;
}
td:first-child{
    padding-left: 0px;       
}
td:last-child{
    padding-right: 0px;
}

/*----------------------------------------*
 *--Классы переопределяющие вид пейджера--*
 *----------------------------------------*/

.bx-wrapper {
    border: none;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager {
    bottom: 50px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(256, 256, 256, .6);
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #808080;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: rgba(256, 256, 256);
}

/*---------Бургер-----------*/

#burger-checkbox {
    display: none;
}

#burger-button {
    position: relative;
    width: 50px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    margin: 2.6em 2em 1.7em 1.7em;
    transition: all .5s;
    text-align: left;
    z-index: 2100;
}

#burger-button div,
#burger-button div:before,
#burger-button div:after {
    background: #00a8a0;
    position: absolute;
    height: 5px;
    width: 50px;
    border-radius: 4px;
    transition: all .5s;
}

#burger-button div:first-child {
    top: 0px;
}

#burger-button div:nth-child(2) {
    top: 15px;
}

#burger-button div:nth-child(3) {
    top: 30px;
}

/*----Анимашки для бургера----*/

#burger-checkbox+#burger-button div:first-child {
    transition: top .15s .15s, -webkit-transform .15s;
    transition: top .15s .15s, transform .15s;
    transition: top .15s .15s, transform .15s, -webkit-transform .15s;
}

#burger-checkbox+#burger-button div:nth-child(2),
#burger-checkbox+#burger-button div:nth-child(3) {
    transition: top .15s .15s, -webkit-transform .15s;
    transition: top .15s .15s, transform .15s;
    transition: top .15s .15s, transform .15s, -webkit-transform .15s;
}

#burger-checkbox:checked+#burger-button div:first-child {
    top: 10px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: background-color .15s, top .15s, -webkit-transform .15s .15s;
    transition: background-color .15s, top .15s, transform .15s .15s;
    transition: background-color .15s, top .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

#burger-checkbox:checked+#burger-button div:nth-child(2),
#burger-checkbox:checked+#burger-button div:nth-child(3) {
    top: 10px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: background-color .15s, top .15s, -webkit-transform .15s .15s;
    transition: background-color .15s, top .15s, transform .15s .15s;
    transition: background-color .15s, top .15s, transform .15s .15s, -webkit-transform .15s .15s;
}


/*----------------Общее------------*/

.head-logo {
    background: url(assets/pictures/logo_top.svg) center no-repeat;
    min-height: 70px;
}

.neucha {
    font: 400 16px Neucha, cursive;
    line-height: 25.6px;
    letter-spacing: 3.6px;
}

.green-text {
    color: #628117;
}

.white-text {
    color: #ffffff;
}

.seablue-text {
    color: #198680;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.as-text {
    display: inline;
}
.as-block{
    display: block;
}

.absolute{
    position: absolute;
}

/*----------------Содержимое хедера------------*/

.absolute-for-menu {
    position: absolute;
    width: 100%;
    top: 0;
}

.relative {
    position: relative;
    top: 0;
}

.columns.large-12.green-neucha>p {
    margin: 0px;
}

.columns.large-12.green-neucha>p>span {
    color: #a9c935;
}

.large-letters {
    color: #00a8a0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.in-header-text-param {
    color: #784845;
    font: 400 16px Neucha, cursive;
    line-height: 22px;
}

.in-header-img-param {
    margin-left: 30px;
}

.burger-position {
    position: absolute;
    z-index: 3000;
    padding-top: 15px;
    display: inline-block;
    text-align: right;
}
.padding-top{
    padding-top: 30px;
}
.margin-top-0{
    margin-top: 0;
}

.logo-for-small {
    padding-top: 35px;
    padding-left: 20px;
}
.small-menu{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2000;
}
.small-menu.closed{
    visibility: hidden;
    background-color: rgba(256, 256, 256, 0);
    transition-duration: .4s;
}
.small-menu.opened{
    visibility: visible;
    background: rgba(256, 256, 256, .7);
    transition-duration: .4s;
}
.side-bar{
    float: right;
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(167deg, #b7d044, #12ada4);
    box-shadow: 20px 0 30px black;
}
.side-bar.closed{
    transform: translateX(310px);
    transition-duration: .3s;
}
.side-bar.opened{
    transform: translateX(0);
    transition-duration: .3s;
}

.burger-position{
    text-align: right;
    margin: 15px 10px 0 0;
}

ul{
    margin-right: 30px;
}
li{
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;
}
li a:link, li a:visited, li a:active, li{
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 0.07em;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}

.underline{
    border-bottom: solid 1px #b7d044;
}


/*--Сразу к делу */

.quick-links-section {
    overflow: hidden;
    background: url(assets/pictures/quik_links_bg.jpg) center/cover;
}

.quick-links-button-bg1 {
    background: url(assets/pictures/buttons/b_question.jpg) top/cover no-repeat;
}

.quick-links-button-bg2 {
    background: url(assets/pictures/buttons/b_sign.jpg) top/cover no-repeat;
}

.quick-links-button-bg3 {
    background: url(assets/pictures/buttons/b_pay.jpg) top/cover no-repeat;
}

@keyframes slide {
    from{transform: translateY(285px);}
    to{transform: translateY(45px);}
}
.form {
    width: 100%;
    height: 24vw;
    transform: translateY(0 );
    transition-duration: .3s;
    border-radius: 15px 15px 0px 0px;
    box-shadow: rgb(158, 158, 158) 0px 0px 5px;
}
.anim-1{
    transform: translateY(285px);
    animation: slide .4s 1s forwards;
}
.anim-2{
    transform: translateY(285px);
    animation: slide .4s 1.2s forwards;
}
.anim-3{
    transform: translateY(285px);
    animation: slide .4s 1.4s forwards;
}

.anim-1:hover .form,
.anim-2:hover .form,
.anim-3:hover .form{
    transform: translateY(-25px);
    transition-duration: .3s;
}

.text-center-and-left{
    text-align: center;
}


.as-button{
    display: block;
    background: transparent;
    width: 16rem;
    border: 2px solid #00a8a0;
    padding: 5px 0 5px;
    margin: 0 auto 1rem auto;
    border-radius: 10px;
}
@media screen and (min-width: 64rem){
    .form{
        height: 230px;
    }

    .text-center-and-left{
        text-align: left;
    }
    
    .quick-links-height{
        height: 230px;
    }
}
@media screen and (min-width: 40rem) and (max-width: 63.95rem){
    .quick-links-height{
        height: 25vw;
    }
}


/*--О нашей клинике */

.about-section {
    margin-top: 1px;
    background-color: #e3dedb;
}

.photo-back {
    width: 70%;
    margin: 15px 0 0 20px;
}

.photo-front {
    width: 70%;
    margin: -110px 0 30px 27%;
}

.text-center-and-right{
    text-align: center;
}
@media screen and (min-width: 64rem){
    .text-center-and-right{
        text-align: right;
    }
}


/*--Программы-сопровождения*/

#support-section {
    padding-top: 2rem;
    background: linear-gradient(#8febd7, #12ada4);
}

#support-section>p {
    text-align: center;
}

.round-button-contaner {
    font-family: 'Helvetica', 'arial';
    color: white;
    font-size: 14px;
    letter-spacing: 0.064em;
    text-align: center;
    width: 249px;
}
.start-pos{
    transform: scale(0) translateY(200px);
}
.end-pos{
    transform: scale(1) translateY(0);
    transition-duration: 1s;
}
.end-pos .round-button{
    transform: scale(1) translateY(0);
    transition-duration: .3s;
}
.end-pos:hover .round-button{
    transform: scale(1.1) translateY(-10px);
    transition-duration: .3s;
}

.padding-bottom-16 {
    padding: 0 0 16px 0;
}

.padding-top-16 {
    padding: 16px 0 0 0;
}

.round-button {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
}

.round-button-contaner .as-block:link, .round-button-contaner .as-block:visited{
    text-decoration: none;
    color: white;
}

.border-color-11 {
    border: solid 5px #49cdbc;
}

.border-color-21 {
    border: solid 5px #b6ab90;
}

.background-img-11 {
    background: url(assets/pictures/round_buttons/b_zernishko.jpg) center/cover;
}

.background-img-12 {
    background: url(assets/pictures/round_buttons/b_ladushki.jpg) center/cover;
}

.background-img-13 {
    background: url(assets/pictures/round_buttons/b_chizhiki.jpg) center/cover;
}

.background-img-14 {
    background: url(assets/pictures/round_buttons/b_s_usami.jpg) center/cover;
}


/*--Наши услуги--*/

.service{
    margin-top: 1px;
    padding-top: 2rem;
    background-image: linear-gradient(#e3dedb, #ffffff);
}
.background-img-21 {
    background: url(assets/pictures/round_buttons/service_consult.png) center/cover;
}
.background-img-22 {
    background: url(assets/pictures/round_buttons/service_at_home.png) center/cover;
}
.background-img-23 {
    background: url(assets/pictures/round_buttons/service_lab.png) center/cover;
}
.background-img-24 {
    background: url(assets/pictures/round_buttons/service_vac.png) center/cover;
}
.background-img-25 {
    background: url(assets/pictures/round_buttons/service_listki.png) center/cover;
}
.background-img-26 {
    background: url(assets/pictures/round_buttons/service_docs.png) center/cover;
}
.background-img-27 {
    background: url(assets/pictures/round_buttons/service_presents.png) center/cover;
}

/*--Фотографии*/
/*  #region */
.photo-section {
    padding-top: 2rem;
    background: #304a3b;
}

@media screen and (min-width: 40rem){
    .photo-section {
        padding-top: 2rem;
        background: url(assets/pictures/other/news-bg.png)#304a3b;
    }
}
.photo-section::after{
        clear: both;
}
.gallery{
    margin-top: 2rem;
    float: left;
}
.photo-section-header{
    text-align: center;
}

 .photo-section::after{
    clear: both;
}

.big-photo{
    display: block;
    position: relative;
}

.pic-width{
    width: 100%;
}
.pic-anim{
    box-shadow: 0 0 0 black;
    transition: .3s;
}

.small-photo{
    width: 100%;
    display: block;
    margin: 0;
    position: relative;
}
.small-photo:hover .pic-anim,
.big-photo:hover .pic-width{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px black;
    transition: .3s;
}

.text-aligment{
    text-align: center;
}

@media screen and (min-width: 40rem) and (max-width: 63.95rem){
    .gallery{
        margin-top: -2rem;
    }

    .text-aligment{
        text-align: left;
    }
    
    .small-photo{
        margin: 3rem 0 0;
    }
}

@media screen and (min-width: 64rem){
    .gallery{
        margin-top: -6rem;
    }

    .text-aligment{
        text-align: right;
    }

    .photo-section-header{
        padding-right: 4rem;
    }
    
    .small-photo{
        margin: 8.5rem 0 0;
    }
}

.hook-pos{
    position: absolute;
    top: -10%;
    left: 5%;
    transform: scale(.8);
}
.cloud-pos{
    position: absolute;
    top: 60%;
    left: -50px;
    transform: scale(.6);
}
.bird-pos{
    position: absolute;
    top: 30%;
    right: -50px;
    transform: scale(.7);
}
.button-pos{
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.mushrum-pos{
    position: absolute;
    top: 30%;
    right: -30px;
}

.small-photo:link, .small-photo:visited, .small-photo:active,
.big-photo:link, .big-photo:visited{
    text-decoration: none;
    color: white;
}

.link-header{
    color: #00a8a0;
    font-weight: bold;
}


/* --Футер */

.footer{
    padding: 1rem 0;
    text-align: center;
    background: #e9e5ce;
}